---
import Button from "@/components/ui/Button.astro";
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<Button
  type="submit"
  variant="secondary"
  className="w-full mt-5 bg-lightPrimary200"
>
  {label}
</Button>
