---
import { Image } from "astro:assets";
import ApplyColorMode from "../ApplyColorMode.astro";
import { NAV } from "@lib/consts/nav";
---

<nav class="hidden md:flex w-[60%] mx-auto h-full items-center justify-between">
  <div>
    <a href="#top">
      <Image src="/cmcol.webp" alt="CmCol Logo" width={32} height={32} />
    </a>
  </div>
  <ul class="flex gap-x-10">
    {
      NAV.map((item) => (
        <li>
          <a
            href={item.href}
            class="
            text-xl relative dark:text-white
            after:content-[''] after:border-b-2
            after:w-0 after:h-2 after:border-black
            after:absolute after:bottom-0 after:left-0
            after:hover:w-full after:transition-all
            after:dark:border-white
            "
          >
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
  <div>
    <ApplyColorMode />
  </div>
</nav>
