---
import ApplyColorMode from "../ApplyColorMode.astro";
import LinkLogo from "../LinkLogo.astro";
import NavBar from "./NavBar.astro";
---

<nav
  class="hidden md:flex w-[90%] md:w-[80%] lg:w-[70%] mx-auto h-full items-center justify-between"
>
  <LinkLogo />
  <NavBar variant="desktop" />
  <ApplyColorMode />
</nav>
