---
import Button from "../Button.astro";
import { Icon } from "astro-icon/components";
import LinkLogo from "../LinkLogo.astro";
import NavBar from "./NavBar.astro";
---

<nav class="md:hidden flex justify-between items-center w-[95%] mx-auto py-2">
  <LinkLogo />
  <Button variant="secondary" id="mobile-nav-btn">
    <Icon name="tabler:menu-3" class="w-6 h-6" />
  </Button>
</nav>

<div
  id="mobile-nav"
  class="hidden md:hidden absolute top-0 right-0 h-screen bg-slate-800/90 w-full backdrop-blur-md z-100"
>
  <header class="w-full flex justify-end mt-2">
    <Button variant="ghost" id="close-mobile-nav" className="mx-2">
      <Icon name="tabler:x" class="w-10 h-10 text-red-800" />
    </Button>
  </header>
  <NavBar variant="mobile" />
  <footer class="w-full flex justify-center mt-20">
    <button
      id="btn-color-mode-toggle"
      type="button"
      class="hover:bg-lightAccent200/90 p-3 rounded-full
      border-2 border-transparent hover:border-2
      hover:border-lightPrimary100 transition-all hover:text-white"
    >
      <Icon name="tabler:sun" class:list={["w-10 h-10 text-white"]} />
    </button>
  </footer>
</div>

<script>
  import { $ } from "@lib/utils/dom-selectors";

  const mobileNavBtn = $<HTMLButtonElement>("#mobile-nav-btn");
  const closeMobileNavBtn = $<HTMLButtonElement>("#close-mobile-nav");
  const mobileNav = $("#mobile-nav");
  const allLinks = document.querySelectorAll("a");

  mobileNavBtn.addEventListener("click", () => {
    mobileNav.classList.remove("hidden");
  });

  closeMobileNavBtn.addEventListener("click", () => {
    mobileNav.classList.add("hidden");
  });

  allLinks.forEach((link) => {
    link.addEventListener("click", () => {
      mobileNav.classList.add("hidden");
    });
  });
</script>

<script is:inline>
  const colorModeToggle = document.getElementById("btn-color-mode-toggle");
  const html = document.querySelector("html");

  colorModeToggle.addEventListener("click", () => {
    localStorage.setItem(
      "theme",
      html.classList.contains("dark") ? "light" : "dark"
    );
    html.classList.toggle("dark");
  });
</script>
