---
import Submit from "../form/Submit.astro";
import Input from "../form/Input.astro";
import H2 from "../ui/typography/H2.astro";
import { SOCIALPILLS } from "@lib/consts/socialpills";
import SimpleSocialPill from "../ui/SimpleSocialPill.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div
  id={id}
  class="flex flex-col md:flex-row justify-center items-center bg-lightPrimary100 gap-x-10 py-10 md:py-20 px-5"
>
  <div class="h-full space-y-5 pb-6 md:pb-0">
    <H2 class="text-center text-white my-auto">Contactanos</H2>
    <div class="space-y-2">
      {SOCIALPILLS.map((pill) => <SimpleSocialPill socialPill={pill} />)}
    </div>
  </div>
  <form id="contact-form" class="w-full md:w-fit">
    <p
      class="bg-red-400 text-white p-2
        border-l-8 border-red-800 absolute
        w-full hidden font-semibold"
      id="errors"
    >
      Error
    </p>
    <fieldset class="flex gap-y-5 gap-x-10 flex-col md:flex-row">
      <Input
        type="text"
        name="name"
        id="name"
        placeholder="Nombre Completo"
        maxlength={50}
      />
      <Input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        maxlength={50}
      />
      <Input
        type="number"
        name="number"
        id="phone"
        placeholder="Telefono"
        maxlength={10}
      />
    </fieldset>
    <Submit label="Enviar" />
  </form>
</div>
