---
import { Icon } from "astro-icon/components";
import { SOCIALS } from "@lib/consts/socials";
import Link from "../ui/Link.astro";
import H2 from "../ui/typography/H2.astro";
import P from "../ui/typography/P.astro";
---

<footer class="h-40 mt-20">
  <div class="border-b"></div>
  <div
    class="mx-20 mt-10 flex justify-between items-baseline flex-col gap-y-5 md:flex-row"
  >
    <div class="mx-auto md:mx-0">
      <H2>CmCol</H2>
      <P>Made by CRV, All Rights Reserved</P>
    </div>
    <ul class="flex gap-x-10 mx-auto md:mx-0">
      {
        SOCIALS.map((social) => (
          <li>
            <Link href={social.link} target="_blank">
              <Icon name={social.icon} class="w-8 h-8" />
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
