---
import { TESTIMONIALS } from "@lib/consts/testimonials";
import SectionContainer from "../ui/SectionContainer.astro";
import H2 from "../ui/typography/H2.astro";
import Testimonial from "../ui/testimonials/Testimonial.astro";
import P from "../ui/typography/P.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<SectionContainer id={id} class="pt-28 mt-20 mb-48">
  <H2 class="text-center">Testimonios</H2>
  <P class="text-center text-lg md:text-xl">Lo que dicen nuestros clientes</P>
  <ul class="grid md:grid-cols-2 md:gap-10 mt-10 gap-y-10">
    {
      TESTIMONIALS.map((testimonial) => (
        <li>
          <Testimonial
            name={testimonial.name}
            description={testimonial.description}
            genre={testimonial.genre}
          />
        </li>
      ))
    }
  </ul>
</SectionContainer>
