---
import BackButton from "@/components/ui/BackButton.astro";
import SectionContainer from "@/components/ui/SectionContainer.astro";
import H1 from "@/components/ui/typography/H1.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Pagina no encontrada">
  <SectionContainer
    class="min-h-screen flex items-center justify-center flex-col"
  >
    <H1 class="text-8xl font-bold mb-4 dark:text-white">404</H1>
    <p class="text-xl mb-8 dark:text-white">Oops! Page not found.</p>
    <BackButton />
  </SectionContainer>
</MainLayout>
