---
import SectionContainer from "@/components/ui/SectionContainer.astro";
import H1 from "@/components/ui/typography/H1.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Pagina no encontrada">
  <SectionContainer
    class="min-h-screen flex items-center justify-center flex-col"
  >
    <H1 class="text-8xl font-bold mb-4 dark:text-white">404</H1>
    <p class="text-xl mb-8 dark:text-white">Oops! Page not found.</p>
    <button
      class="flex items-center hover:underline transition-colors dark:text-white"
      id="back-button"
    >
      <Icon name="tabler:arrow-narrow-left" class="w-5 h-5 mr-2" />
      Volver
    </button>
  </SectionContainer>
</MainLayout>

<script>
  import { $ } from "@lib/utils/dom-selectors";

  const backButton = $<HTMLButtonElement>("#back-button");

  backButton.addEventListener("click", () => {
    const previousURL = document.referrer;

    if (previousURL.length > 0) {
      history.back();
      return;
    }

    window.location.href = "http://localhost:4321#top";
  });
</script>
