---
import Hero from "@/components/sections/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Services from "@/components/sections/Services.astro";
import Testimonials from "@/components/sections/Testimonials.astro";
import Contact from "@/components/sections/Contact.astro";
import ToTopButton from "@/components/ui/ToTopButton.astro";
---

<MainLayout title="Home">
  <Hero id="hero" />
  <div class="bg-indigo-50/80 dark:bg-slate-800 py-20">
    <Services id="services" />
  </div>

  <Testimonials id="testimonials" />

  <div class="bg-indigo-50/80 dark:bg-slate-800">
    <Contact id="contact" />
  </div>

  <ToTopButton observerid="hero" />
</MainLayout>
