---
import Hero from "@/components/sections/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "@/components/sections/Testimonials.astro";
import ToTopButton from "@/components/ui/ToTopButton.astro";
import Contact from "@/components/sections/Contact.astro";
import BentoServices from "@/components/sections/BentoServices.astro";
import About from "@/components/sections/About.astro";
---

<MainLayout title="Consultoría y asesoría tributaria">
  <div class="bg-hero-pattern bg-no-repeat bg-fixed bg-cover">
    <Hero id="hero" />
    <Contact id="contact" />
    <BentoServices id="services" />
    <About id="about" />
    <Testimonials id="testimonials" />
    <ToTopButton observerid="hero" />
  </div>
</MainLayout>
