---
interface Props {
  class?: string;
}
---

<h1
  class:list={[
    "text-5xl md:text-7xl font-bold uppercase text-white text-center transition-all",
    Astro.props.class,
  ]}
>
  <slot />
</h1>
