---
import { Icon } from "astro-icon/components";
---

<button
  id="color-mode-toggle"
  type="button"
  class="hover:bg-lightAccent200/90 p-3 rounded-full
    border-2 border-transparent hover:border-2
    hover:border-lightPrimary100 transition-all hover:text-white"
  aria-label="modo oscuro / claro"
>
  <Icon
    id="sun"
    name="tabler:sun"
    class:list={["w-5", "h-5", "dark:text-white"]}
  />
  <Icon
    id="moon"
    name="tabler:moon-filled"
    class:list={["w-5", "h-5", "dark:text-white hidden"]}
  />
</button>

<script>
  import { $ } from "@lib/utils/dom-selectors";
  import { setTheme } from "@lib/utils/ls-theme";

  const colorModeToggle = $("#color-mode-toggle");
  const html = $("html");
  const sunIcon = $("#sun");
  const moonIcon = $("#moon");

  colorModeToggle.addEventListener("click", () => {
    setTheme(html.classList.contains("dark") ? "light" : "dark");
    html.classList.toggle("dark");

    sunIcon.classList.toggle("hidden");
    moonIcon.classList.toggle("hidden");
  });
</script>

<script>
  import { $ } from "@lib/utils/dom-selectors";
  import { getTheme } from "@lib/utils/ls-theme";

  const html = $("html");

  const sunIcon = $("#sun");
  const moonIcon = $("#moon");

  document.addEventListener("DOMContentLoaded", () => {
    const theme = getTheme();

    if (!theme) return;

    if (theme === "dark") {
      moonIcon.classList.remove("hidden");
      sunIcon.classList.add("hidden");
    }

    if (theme === "light") {
      moonIcon.classList.add("hidden");
      sunIcon.classList.remove("hidden");
    }

    html.classList.add(theme);
  });
</script>
