---
const variants = {
  primary: "bg-black",
  secondary: " bg-lightPrimary100 text-white",
  outline: "bg-transparent text-black border",
  ghost: "bg-transparent text-sky-700 underline",
} as const;

interface Props {
  id?: string;
  variant?: keyof typeof variants;
  type?: "submit" | "reset" | "button";
  className?: string;
  onclick?: string | null | undefined;
}

const { id, type, className, variant = "primary", onclick } = Astro.props;
---

<button
  onclick={onclick}
  id={id}
  type={type || "button"}
  class:list={[
    "text-white font-bold rounded-md hover:opacity-80 transition px-4 py-2",
    variants[variant],
    className,
  ]}
>
  <slot />
</button>
