---
const variants = {
  outline: "text-primary hover:underline dark:text-white",
  rounded: "bg-slate-200 p-2 rounded-full dark:bg-lightPrimary100",
  button:
    "bg-slate-200 p-2 rounded-md dark:bg-lightPrimary200 hover:bg-slate-300 dark:hover:bg-lightPrimary100 dark:text-white transition-all",
} as const;

interface Props {
  id?: string;
  href: string;
  class?: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
  variant?: keyof typeof variants;
  ariaLabel?: string;
}

const {
  id,
  href,
  class: className,
  variant = "outline",
  target = "_self",
  ariaLabel,
} = Astro.props;
---

<a
  id={id}
  href={href}
  class:list={[variants[variant], className]}
  target={target}
  aria-label={ariaLabel || href}
>
  <slot />
</a>
